In [116]:
import pandas as pd
import datetime
import numpy as np
FILE_PATH = "data.csv"

In [8]:
dataframe = pd.read_csv(FILE_PATH, sep='|', low_memory=False)

<bound method NDFrame.head of                      client_id  Target       Month First_product_dt  \
0                      5856970     1.0  2018-10-01       2013-10-23
1                      6371753     0.0  2018-09-01       2015-07-29
2                      5928737     0.0  2019-01-01       2016-08-31
3                       475064     0.0  2018-12-01       2014-07-13
4                      3615172     0.0  2018-09-01       2017-12-27
...                        ...     ...         ...              ...
238611                 6377583     0.0  2019-04-01       2015-06-03
238612                 6412619     0.0  2019-01-01       2015-07-08
238613                 5542402     0.0  2019-04-01       2012-09-13
238614                 5921880     0.0  2019-03-01       2014-01-30
238615  (238615 rows affected)     NaN         NaN              NaN

       Last_product_dt CreditCard_Premium CreditCard_Active  \
0           2019-01-10                 No               Yes
1           2018-06-02                 No                No
2           2018-12-27                 No                No
3           2017-11-30                 No               Yes
4           2017-12-28                 No                No
...                ...                ...               ...
238611      2019-01-04                 No               Yes
238612      2018-06-02                 No                No
238613      2012-09-13                 No               Yes
238614      2017-05-24                 No                No
238615             NaN                NaN               NaN

       CreditCard_CoBranding Loan_Active Mortgage_Active  ...  \
0                         No          No              No  ...
1                         No          No              No  ...
2                         No          No              No  ...
3                         No          No              No  ...
4                         No          No              No  ...
...                      ...         ...             ...  ...
238611                    No         Yes              No  ...
238612                    No         Yes              No  ...
238613                    No          No              No  ...
238614                    No          No              No  ...
238615                   NaN         NaN             NaN  ...

       CreditCard_Payment_External CreditCard_Payment_Cash  \
0                              0.0                     0.0
1                              0.0                     0.0
2                              0.0                     0.0
3                              0.0                     0.0
4                              0.0                     0.0
...                            ...                     ...
238611                         0.0                     0.0
238612                         0.0                     0.0
238613                         0.0                     0.0
238614                         0.0                     0.0
238615                         NaN                     NaN

       CreditCard_Payment_Web CreditCard_Payment_ATM CreditCard_Payment_TAS  \
0                         0.0                    0.0                    0.0
1                         0.0                    0.0                    0.0
2                         0.0                    0.0                    0.0
3                         0.0                    0.0                    0.0
4                         0.0                    0.0                    0.0
...                       ...                    ...                    ...
238611                    0.0                    0.0                    0.0
238612                    0.0                    0.0                    0.0
238613                    0.0                    1.0                    0.0
238614                    0.0                    0.0                    0.0
238615                    NaN                    NaN                    NaN

       Investment_Numbers Mobile Email                         Region  \
0                     1.0    Yes   Yes                            NaN
1                     0.0    Yes    No                            NaN
2                     0.0    Yes   Yes                            NaN
3                     0.0    Yes   Yes                            NaN
4                     0.0    Yes    No                            NaN
...                   ...    ...   ...                            ...
238611                0.0    Yes   Yes                   BUENOS AIRES
238612                0.0    Yes    No                            NaN
238613                0.0     No   Yes  REGION NORTE GRANDE ARGENTINO
238614                0.0    Yes   Yes              CABA Centro/Norte
238615                NaN    NaN   NaN                            NaN

       CreditCard_Product
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
238611     J55660104XX012
238612                NaN
238613     J55660104XX012
238614                NaN
238615                NaN

[238616 rows x 77 columns]>

In [14]:
#Number of Rows
dataframe.shape[0]

(238616, 77)

In [13]:
#Number of Columns
dataframe.shape[1]

Index(['client_id', 'Target', 'Month', 'First_product_dt', 'Last_product_dt',
       'CreditCard_Premium', 'CreditCard_Active', 'CreditCard_CoBranding',
       'Loan_Active', 'Mortgage_Active', 'SavingAccount_Active_ARG_Salary',
       'SavingAccount_Active_ARG', 'SavingAccount_Active_DOLLAR',
       'DebitCard_Active', 'Investment_Active', 'Package_Active',
       'Insurance_Life', 'Insurance_Home', 'Insurance_Accidents',
       'Insurance_Mobile', 'Insurance_ATM', 'Insurance_Unemployment', 'Sex',
       'Client_Age_grp', 'SavingAccount_Balance_FirstDate',
       'SavingAccount_Balance_LastDate', 'SavingAccount_Balance_Average',
       'SavingAccount_Days_with_use', 'SavingAccount_Days_with_Credits',
       'SavingAccount_Days_with_Debits',
       'SavingAccount_Salary_Payment_Transactions',
       'SavingAccount_Transfer_In_Transactions',
       'SavingAccount_ATM_Extraction_Transactions',
       'SavingAccount_Service_Payment_Transactions',
       'SavingAccount_CreditCard_Payment_Transactions',
       'SavingAccount_Transfer_Out_Transactions',
       'SavingAccount_DebitCard_Spend_Transactions',
       'SavingAccount_Transactions_Transactions',
       'SavingAccount_Credits_Transactions',
       'SavingAccount_Debits_Transactions',
       'SavingAccount_Salary_Payment_Amount',
       'SavingAccount_Transfer_In_Amount',
       'SavingAccount_ATM_Extraction_Amount',
       'SavingAccount_Service_Payment_Amount',
       'SavingAccount_CreditCard_Payment_Amount',
       'SavingAccount_Transfer_Out_Amount',
       'SavingAccount_DebitCard_Spend_Amount', 'SavingAccount_Total_Amount',
       'SavingAccount_Credits_Amounts', 'SavingAccount_Debits_Amounts',
       'Operations_Bank', 'Operations_Terminal', 'Operations_HomeBanking',
       'Operations_Mobile', 'Operations_Ivr', 'Operations_Telemarketer',
       'Operations_ATM', 'CreditCard_Balance_ARG', 'CreditCard_Balance_DOLLAR',
       'CreditCard_Total_Limit', 'CreditCard_Total_Spending',
       'CreditCard_Spending_1_Installment', 'CreditCard_Spending_Installments',
       'CreditCard_Spending_CrossBoarder', 'CreditCard_Spending_Aut_Debits',
       'CreditCard_Revolving', 'CreditCard_Payment_Aut_Debit',
       'CreditCard_Payment_External', 'CreditCard_Payment_Cash',
       'CreditCard_Payment_Web', 'CreditCard_Payment_ATM',
       'CreditCard_Payment_TAS', 'Investment_Numbers', 'Mobile', 'Email',
       'Region', 'CreditCard_Product'],
      dtype='object')

In [15]:
#Number of Columns from Saving Account
dataframe.filter(regex='SavingAccount_*').shape[1]

29

In [32]:
#Number of Months
dataframe["Month"].nunique()

1    9
dtype: int64

In [68]:
#Number of Clients
dataframe["client_id"].nunique()

26561

In [101]:
#Take only clients with 9 Months of Data. Why?
#We take clients with recent activity because those are relevant to our universe definition. 
#If we added clients with less month of data that could affect the model later on.
#We use this amount (9) because of this particular use case but it will always depend in the case at hand.
clients_with_nine_months = dataframe.groupby("client_id").filter(lambda x: len(x.Month.unique()) == 9).client_id
dataframe_with_nine_month_clients = dataframe[dataframe.client_id.isin(clients_with_nine_months)]

dataframe_with_nine_month_clients

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
0,5856970,1.0,2018-10-01,2013-10-23,2019-01-10,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,1.0,Yes,Yes,NaN,NaN
1,6371753,0.0,2018-09-01,2015-07-29,2018-06-02,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
2,5928737,0.0,2019-01-01,2016-08-31,2018-12-27,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
3,475064,0.0,2018-12-01,2014-07-13,2017-11-30,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
4,3615172,0.0,2018-09-01,2017-12-27,2017-12-28,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238610,6448833,0.0,2019-03-01,2016-05-09,2019-04-02,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,REGION NORTE GRANDE ARGENTINO,NaN
238611,6377583,0.0,2019-04-01,2015-06-03,2019-01-04,No,Yes,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,BUENOS AIRES,J55660104XX012
238612,6412619,0.0,2019-01-01,2015-07-08,2018-06-02,No,No,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
238613,5542402,0.0,2019-04-01,2012-09-13,2012-09-13,No,Yes,No,No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,No,Yes,REGION NORTE GRANDE ARGENTINO,J55660104XX012
238614,5921880,0.0,2019-03-01,2014-01-30,2017-05-24,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,CABA Centro/Norte,NaN

In [100]:
#Take only clients without Active Package. Be careful with the month! 
dates = pd.to_datetime(dataframe_with_nine_month_clients['Month'], format='%Y-%m-%d')
last_date = dates.max().strftime('%Y-%m-%d')
last_date_clients_with_no_package = dataframe_with_nine_month_clients[(dataframe_with_nine_month_clients.Month == last_date) & (dataframe_with_nine_month_clients.Package_Active == 'No')].client_id
dataframe_with_nine_month_clients_and_no_package = dataframe_with_nine_month_clients[dataframe_with_nine_month_clients.client_id.isin(last_date_clients_with_no_package)]

dataframe_with_nine_month_clients_and_no_package

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
0,5856970,1.0,2018-10-01,2013-10-23,2019-01-10,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,1.0,Yes,Yes,NaN,NaN
1,6371753,0.0,2018-09-01,2015-07-29,2018-06-02,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
2,5928737,0.0,2019-01-01,2016-08-31,2018-12-27,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
3,475064,0.0,2018-12-01,2014-07-13,2017-11-30,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
4,3615172,0.0,2018-09-01,2017-12-27,2017-12-28,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238610,6448833,0.0,2019-03-01,2016-05-09,2019-04-02,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,REGION NORTE GRANDE ARGENTINO,NaN
238611,6377583,0.0,2019-04-01,2015-06-03,2019-01-04,No,Yes,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,BUENOS AIRES,J55660104XX012
238612,6412619,0.0,2019-01-01,2015-07-08,2018-06-02,No,No,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
238613,5542402,0.0,2019-04-01,2012-09-13,2012-09-13,No,Yes,No,No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,No,Yes,REGION NORTE GRANDE ARGENTINO,J55660104XX012
238614,5921880,0.0,2019-03-01,2014-01-30,2017-05-24,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,CABA Centro/Norte,NaN

In [134]:
TOTAL_MONTH_RANGE = 9

PREDICTION_WINDOW_RANGE = 2
LEAD_WINDOW_RANGE = 1
HISTORICAL_WINDOW_RANGE = TOTAL_RANGE - PREDICTION_WINDOW_RANGE - LEAD_WINDOW_RANGE

#First i convert dates to type date so i can order them
dates = pd.to_datetime(dataframe['Month'], format='%Y-%m-%d').unique()[:TOTAL_MONTH_RANGE]
dates =  np.datetime_as_string(np.sort(dates), unit='D')
dates

array(['2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01',
       '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01',
       '2019-04-01'], dtype='<U28')

In [143]:
prediction_window_data = dataframe_with_nine_month_clients_and_no_package[dataframe_with_nine_month_clients_and_no_package.Month.isin(dates[-PREDICTION_WINDOW_RANGE:])]
prediction_window_data

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
9,5775560,0.0,2019-04-01,2013-08-22,2014-08-01,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,REGION CENTRO,J55660104XX012
13,5800470,0.0,2019-04-01,2013-08-23,2018-03-26,No,Yes,Yes,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,REGION CENTRO,J55660123XX012
17,3540244,0.0,2019-04-01,2018-09-07,2018-09-07,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,No,No,REGION CENTRO,NaN
35,2739521,0.0,2019-03-01,2007-02-27,2007-03-25,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,1.0,0.0,Yes,Yes,AMBA Resto,J55660104XX012
39,704635,0.0,2019-03-01,2007-12-31,2018-05-03,No,Yes,Yes,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,REGION CENTRO,J55660124XX012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238609,1899373,0.0,2019-03-01,2015-06-23,2018-05-03,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,REGION CENTRO,NaN
238610,6448833,0.0,2019-03-01,2016-05-09,2019-04-02,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,REGION NORTE GRANDE ARGENTINO,NaN
238611,6377583,0.0,2019-04-01,2015-06-03,2019-01-04,No,Yes,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,BUENOS AIRES,J55660104XX012
238613,5542402,0.0,2019-04-01,2012-09-13,2012-09-13,No,Yes,No,No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,No,Yes,REGION NORTE GRANDE ARGENTINO,J55660104XX012
238614,5921880,0.0,2019-03-01,2014-01-30,2017-05-24,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,CABA Centro/Norte,NaN

In [142]:
lead_window_data = dataframe_with_nine_month_clients_and_no_package[dataframe_with_nine_month_clients_and_no_package.Month.isin([dates[-PREDICTION_WINDOW_RANGE-LEAD_WINDOW_RANGE]])]
lead_window_data

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
8,4976363,0.0,2019-02-01,2013-12-05,2017-01-31,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
14,6224892,0.0,2019-02-01,2014-12-10,2014-12-10,Yes,Yes,No,No,No,...,1.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
15,6600949,1.0,2019-02-01,2016-01-25,2016-01-25,Yes,Yes,No,No,No,...,0.0,1.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
30,5668297,0.0,2019-02-01,2013-02-06,2013-02-06,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,1.0,0.0,Yes,Yes,NaN,NaN
44,3070198,0.0,2019-02-01,2007-04-04,2007-06-29,No,Yes,Yes,No,No,...,0.0,0.0,1.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238460,5054120,0.0,2019-02-01,2011-08-26,2019-01-04,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
238472,4028262,0.0,2019-02-01,2011-09-19,2018-01-30,Yes,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,1.0,Yes,Yes,NaN,NaN
238595,6468486,0.0,2019-02-01,2015-09-18,2018-03-16,No,Yes,Yes,Yes,No,...,0.0,0.0,0.0,0.0,1.0,0.0,Yes,No,NaN,NaN
238601,4980147,0.0,2019-02-01,2015-02-26,2015-02-26,No,Yes,Yes,No,No,...,1.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
238602,3132459,1.0,2019-02-01,2012-08-17,2018-11-28,No,Yes,No,Yes,No,...,1.0,0.0,0.0,0.0,0.0,0.0,No,No,NaN,NaN

In [138]:
historical_window_data =  dataframe_with_nine_month_clients_and_no_package[dataframe_with_nine_month_clients_and_no_package.Month.isin(dates[:HISTORICAL_WINDOW_RANGE])]
historical_window_data

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
0,5856970,1.0,2018-10-01,2013-10-23,2019-01-10,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,1.0,Yes,Yes,NaN,NaN
1,6371753,0.0,2018-09-01,2015-07-29,2018-06-02,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
2,5928737,0.0,2019-01-01,2016-08-31,2018-12-27,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
3,475064,0.0,2018-12-01,2014-07-13,2017-11-30,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
4,3615172,0.0,2018-09-01,2017-12-27,2017-12-28,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238597,1673642,0.0,2018-11-01,2017-08-18,2017-09-26,No,Yes,No,No,No,...,0.0,0.0,1.0,0.0,0.0,0.0,No,Yes,NaN,NaN
238603,6145735,1.0,2018-11-01,2014-10-26,2014-10-26,No,Yes,No,No,No,...,0.0,0.0,1.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
238604,5638786,1.0,2018-11-01,2012-12-26,2017-03-08,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,1.0,0.0,Yes,No,NaN,NaN
238608,3824781,0.0,2018-08-01,2014-11-27,2019-01-04,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
238612,6412619,0.0,2019-01-01,2015-07-08,2018-06-02,No,No,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN

In [150]:
#Is the target Balanced or Unbalanced?
targets_data = dataframe_with_nine_month_clients_and_no_package[dataframe_with_nine_month_clients_and_no_package.Target == 1.0]
targets_count = targets_data.Target.count()

total_count = dataframe_with_nine_month_clients_and_no_package.Target.count()

balance_percentage = targets_count/total_count

balance_percentage

0.26466954910438545

In [ ]:
# 74% non targets rowns vs 26% targets rowns we could say its not perfectly balanced (50/50)
# How can you balance the data frame 50/50?
# Some simple solutions are over or under sampling the dataset. That is, to duplicate or eliminate some values in other to force this balance.
# The problem with this strategies is that we could be deleting critical information or overloading our dataset with redundant data that will end up overfitting our model (bias towards a result)
# Another approach would be using Feature Selection where we use statistical metrics (like chi square) to determine which rows are more "unique" than others based on correlation